* {
  /* padding: 0%;
  margin: 0%; */
  box-sizing: border-box;
  text-align: center;
  outline: none;
  scroll-behavior: smooth;
}

body, .container {
  min-height: 97vh;
}

.container, section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calender {
  background-color: aquamarine;
  padding:  0px;
  border-radius: 20px 20px 0px 0px;
  width:98%;
  margin-top: 1rem;
  margin-bottom: 20rem;
  /* height: 500px; */
}

.upper {
  width: 100%;
  height: 70px;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.switch {
  border: black solid 1 px;
  width: 20px;
  height: 20px;
  background-color: black;
}

.bottom {
  width: 100%;
  height: 450px;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.left {
  /* padding: 100px; */
  margin: 0 200px;
  box-sizing: content-box;
  color: rgb(39, 83, 83);
}

.heading {
  font-size: 3.5rem;
  text-align: left;
}

.subheading {
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: left;
  margin-bottom: 50px;
}

.changeTheme {
  margin: 0%;
  border-bottom: black 2px solid;
  border-right: black 1px solid;
  border-bottom-right-radius: 5px;
  height: 80px;
  width: 70%;
}

.calenderImg {
  width: 400px;
}

.githubRepo {
  margin: 0%;
  height: 80px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 2px;
  border-left: black solid 1px;
  border-bottom-left-radius: 5px;
}

.githubRepo a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
}

.btn {
  padding: 5px 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color:rgb(58, 206, 211);
}

.part2 {
  width: 600px;
  margin: 10px 0%;
  text-align: center;
}

input {
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 5px 10px;
}

.footerLink a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    font-size: 1.1rem;
    color: black;
  }
  
  footer {
    margin-top: 5rem;
    margin-bottom: 1.5rem ;
    box-shadow: 0px 0px 10px 2px black;
    padding: 1rem;
    width: 90%;
    background-color: rgba(18, 18, 122, 0.432);
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  li img {
    width: 25px;
  }